<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>AnthroScore: A Computational Linguistic Measure of Anthropomorphism</title>


    <style type="text/css">

        .logo {
            float:right;
            margin-top:5%;
            /* margin-left: 5%; */

        }
        .jumbotron {
            float:left;
            padding-left:10%; padding-right:10%;
        }</style>
    <style>
         .score_box{
            padding: 10px;
            margin-bottom: 20px;
            background: antiquewhite;
        }
    </style>
</head>
<body>


<div class="jumbotron">
    <img class='logo' width='15%'src="{{ url_for('static', filename='stanfordnlp.png') }}"/>
    <h1 class="display-4">AnthroScore: A Computational Linguistic Measure of Anthropomorphism</h1>
    <i class="lead">Myra Cheng, Kristina Gligoric, Tiziano Piccardi, Dan Jurafsky</i>
    <p>EACL 2024 Main Conference</p>
    <hr class="my-4">
    <blockquote class="blockquote">
        <p class="small">Anthropomorphism, or the attribution of human-like characteristics to non-human entities, has
            shaped conversations about the impacts and possibilities of technology.
            We present AnthroScore, an automatic metric of implicit anthropomorphism in language. AnthroScore is
            lexicon-free and can be directly used on any text.</p>
            <p><a href="https://arxiv.org/abs/2402.02056" target="_blank">arXiv</a>, <a href="https://github.com/myracheng/AnthroScore" target="_blank">source code</a>
            </p>
            
    </blockquote>
     

<hr>

<h3>Try it out!</h3>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <form>
                <div class="form-group row">
                    <label for="main-text" class="col-sm-2 col-form-label h1">Your text</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="main-text" rows="3" placeholder="Add your text here..."></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="entities" class="col-sm-2 col-form-label h1">Entities (comma separated)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="entities" placeholder="Entities" value="system, model">
                    </div>
                </div>
                <div style="text-align: right;">
                    <button type="button" class="btn btn-primary" id="submit-text">Compute AnthroScore</button>
                </div>
            </form>
        </div>
        
    </div>

</div>

<div class="row justify-content-center" style="margin-top: 30px;">
    <div class="col-8">
        <div class="nav flex-column nav-pills score_box" role="tablist" aria-orientation="vertical" id="output-text">
            
        </div>
        <div class="nav flex-column nav-pills score_box" role="tablist" aria-orientation="vertical" id="output-text2"><small>
            Note: This is the average AnthroScore in the text across all mentions of the entities. In a longer text, 
            high AnthroScore of a single entity may be obscured by low AnthroScore of others. 
            To see AnthroScore for all instances at once, use the <a href="https://github.com/myracheng/AnthroScore" target="_blank">source code</a>!
        </small></div>
    </div>

</div>


<hr>

<h3>Score Interpretation</h3>
        
The score <i>A</i> implies that the entity is e<sup><i>A</i></sup> times more likely to be implicitly
framed as human than as non-human in the context of the sentence (e is the log
base), e.g.: <br>
<ul><li><i>A</i> = 0 means that the entity is equally
likely to be implicitly framed as either human or
non-human</li><li><i>A</i> = 1 means
that the entity is e<sup>1</sup> ≈ 2.7 times more likely to be
implicitly framed as human than as non-human</li></ul> 


    
<h3>Example Sentences</h3>
<style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-fymr">S↑: Sentences with high AnthroScore (A &gt; 1) </th>
            <th class="tg-0pky"><span style="font-weight:bold;font-style:normal">S↓: Sentences with low AnthroScore (A &lt; −1)</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0pky">• When a job arrives, the <b>system</b>
                must decide whether to admit it or reject it, and if admitted, in which server
                to schedule the job.<br>• Meanwhile, anti-forensic attacks have been developed to fool these CNN-based forensic <span style="font-weight:bold">algorithms</span>.<br>• The <span style="font-weight:bold">models</span> demonstrated qualifications in various computer-related fields, such as cloud and virtualization, business analytics, cybersecurity, network setup...</td>
            <td class="tg-0pky">• More and more users and developers are using Issue Tracking <span style="font-weight:bold">Systems</span> to report issues, including bugs, featurerequests, enhancement suggestions, etc.<br>• Our<span style="font-weight:bold"> approach</span> delivers forecast improvements over a competitive benchmark and we discover evidence for strong spatial interactions.<br>• To this end, for training the<span style="font-weight:bold"> model</span>, we convert the knowledge graph triples into reasonable and unreasonable texts.</td>
          </tr>
          <tr>
            <td class="tg-0pky">• Large language <span style="font-weight:bold">models</span> don’t actually think and tend to make elementary mistakes, even make things up.<br>• The <span style="font-weight:bold">algorithms</span> also picked up on racial biases linking Black people to weapons.<br>• The AI <span style="font-weight:bold">system</span> was able to defeat human players in...</td>
            <td class="tg-0pky">• Microsoft is betting heavily on integrating OpenAI’s GPT language <span style="font-weight:bold">models</span> into its products to compete with Google.<br>• Deepmind has been the pioneer in making AI <span style="font-weight:bold">models</span> that have the capability to mimic a human’s cognitive...<br>• For workers who use machine-learning <span style="font-weight:bold">models</span> to help them make decisions, knowing when to...</td>
          </tr>
        </tbody>
        </table>
   
<br><br>

<h3>How does AnthroScore work?</h3>
Given an entity in a text, we use RoBERTa (a masked language model) to compute the probability that the entity would be replaced by human pronouns versus non-human pronouns.
The log-ratio of these probabilities can be interpreted as how likely the entity is implicitly framed as human by the surrounding context.
<center><img width='45%'src="{{ url_for('static', filename='methodfig.svg') }}"/></center>


<h3>Our Findings</h3>
Motivated by concerns of misleading anthropomorphism, we use AnthroScore to analyze 15 years of computer science, statistics, and computational linguistics research papers and downstream news articles.
<ul><li> Papers related to NLP & language models have the most
    anthropomorphism.</li>
<li>Within ACL papers, temporal increases in anthropomorphism are correlated with key neural
    advancements.
</li><li>Building upon concerns of scientific misinformation in mass media, news headlines have more anthropomorphism than the research papers they cite.</li></ul>
<center><img width='45%'src="{{ url_for('static', filename='temporal_combined_labeled_sing.svg') }}"/></center>
Check out the <a href="https://arxiv.org/abs/2402.02056">full paper</a> for more details!
<br><br>

<hr>
<h5>Citation:</h5>
Myra Cheng, Kristina Gligoric, Tiziano Piccardi, and Dan Jurafsky. 2024. AnthroScore: A Computational Linguistic Measure of Anthropomorphism.  In Proceedings of the 18th Conference of the European Chapter of the Association for Computational Linguistics, Malta. Association for Computational Linguistics.
<br><br>

<h5>BibTeX:</h5>
<code>
@inproceedings{cheng-etal-2024-anthroscore,
    title = "{A}nthro{S}core: A Computational Linguistic Measure of Anthropomorphism",
    author = "Cheng, Myra  and
      Gligoric, Kristina  and
      Piccardi, Tiziano and
      Jurafsky, Dan",
    booktitle = "Proceedings of the 18th Conference of the European Chapter of the Association for Computational Linguistics",
    month = march,
    year = "2024",
    address = "Malta",
    publisher = "Association for Computational Linguistics"
}
</code>


<!-- <div id="response" style="margin-left: 200px; margin-right: 200px">
    <div id="predict_topic_response" class="alert alert-primary" role="alert"
         style="display: none; margin-top: 30px; "></div>
    <div id="topics_distribution_response" class="alert alert-light" role="alert" style="margin-top: 30px;">
        <canvas id="topics_barplot" height="300"></canvas>
    </div>
</div> -->

</div>
<hr>

<br>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>

<script>

    $(function () {
        $("#submit-text").click(function () {
            $("#output-text").html("AnthroScore: Loading...")
            let text = $("#main-text").val()
            let entities = $("#entities").val()

            $.ajax({
                type: "POST",
                url: "/predict",
                data: {text: text, entities: entities},
                success: function (data) {
                    $("#output-text").html("AnthroScore: " + data)
                }
            });
        });

    });

</script>

</body>
</html>
